@import '../../styles/Fonts.module.scss';
@import '../../styles/Mixins.module.scss';
@import '../../styles/Variables.module.scss';

.announcements-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px 0px;
    flex-direction: column;
    width: 80%;
    height: 100%;

    .announcements-container-flex {
        display: flex;
        justify-content: space-between;

        .announcements-container-title {
            display: block;
            font-size: 30px;
            font-family: 'Tight', sans-serif;
            line-height: 1.2;
            justify-content: flex-start;
        }

        .announcements-container-button {
            @include center;
            width: 200px;
            height: 40px;
            padding: 10px;
            font-size: 15px;
            font-family: 'Rubik', sans-serif;
            font-weight: bold;
            color: #fff;
            background-color: $primary-color;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #0056b3;
            }

            &:active {
                background-color: #0056b3;
            }
        }
    }


    .announcements-container__list {
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;

        .announcements-container__list-container {
            background-color: $white-color;
            border: 3px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            color: $black-color;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
            padding: 5px;

            &:hover {
                box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
                transform: scale(1.05);
            }
        }

        .announcements-container__list-link {
            color: $black-color;
            text-decoration: none;
        }

        .announcements-container__list-title {
            font-size: 20px;
            font-family: 'Tight', sans-serif;
        }

        .announcements-container__list-date {
            font-size: 15px;
            font-family: 'Rubik', sans-serif;
            margin-top: 5px;
        }

        .announcements-container__list-description {
            @include line-clamp(5);
            font-size: 15px;
            font-family: 'Rubik', sans-serif;
            margin-top: 5px;
            word-wrap: break-word;
        }
    }
}